html,
body {
  margin: 0;
  background-color: #2f4f30;
  color: white;
}

.title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 22px;
}

.img-card {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#container-gamerCards,
#container-machineCards {
  height: 240px;
}
